//* screen points:
$sp-l: 1140px;
$sp-m: 768px;
$sp-s: 320px;

//* font-families:
$ff-primary: 'Fira Sans';
$ff-second: 'Montserrat';

//* colors:
$color-main: #282626;
$color-light: #ffffff;

//* background-colors:
$bg-main: #ffffff;

//* box-shadows:
$bsh-main: 0px 7px 25px 0px rgba(100, 100, 111, 0.20);
